* {
	margin: 10px;
	padding: 1px;
	font-family: 맑은 고딕;
}

ol li {
	font-size: 14px;
	list-style-type: decimal;
	text-align: left;
}

ol li ul li {
	list-style-type: lower-roman;
}

ol li ul li ul li {
	list-style-type: square;
}

.header {
	font-size: 20px;
	text-align: center;
}

.footer {
	font-size: 14px;
}

.footer .right {
	text-align: right;
}

.footer .center {
	text-align: center;
}

.footer .left {
	text-align: left;
}
